{% extends "layout.html" %}
{% block wrapper %}
  <div class="wrapper" >
    <!--page header-->
    <!-- quick audio tagging section-->
    <div class="page-header">
      <!-- Full Page Intro -->
      <div class="view shadow p-3 bg-body" style="background-image: url('static/assets/img/pages/ed2.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
          <!-- Content -->
          <div class="container-fluid">
            <!--Grid row-->
            <div class="row justify-content-around">
              <!--Grid column-->
              <div class="col-8 white-text mt-8 mb-0" data-wow-delay="0.3s">
                <h1 class="display-1 text-white text-center">Semi Supervised Learning
                  <span class="text-white">Multi-Label Audio Tagging</span> 
                </h1>
                <p class="text-white text-center">Audio Taggin System. It's Free and Open Source.</p>    
                  <!-- quick test button section -->         
                <div class="mt-8 text-center">
                  <a href=" {{ url_for('quick_test_result') }}" class ="mt-5 mb-4 btn btn-secondary btn-round"><b>Quick Test</b></a>
                </div>           
                <!-- end quick test button section -->
              </div>       
            </div>
            <!--Grid row-->
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
      </div>
      <!-- end Full Page Intro -->
    </div>
    <!-- end quick audio tagging section-->

    <!-- technique used -->
    <div class="section features-6">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <h3 class="display-3">List of all technique</h3>
            <p class="lead">The list of all technique used . For data augmentation. For audio processing.</p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-4">
            <div class="info info-horizontal info-hover-primary">
              <div class="description pl-4">
                <h5 class="title">Technique 1</h5>
                <p>description of technique 1. information and definition. impact of this technique.</p>
                <a href="#" class="text-info">Learn more</a>
              </div>
            </div>
            <div class="info info-horizontal info-hover-primary mt-5">
              <div class="description pl-4">
                <h5 class="title">Technique 2</h5>
                <p>description of technique 2. information and definition. impact of this technique.</p>
                <a href="#" class="text-info">Learn more</a>
              </div>
            </div>
            <div class="info info-horizontal info-hover-primary mt-5">
              <div class="description pl-4">
                <h5 class="title">Technique 3</h5>
                <p>description of technique 3. information and definition. impact of this technique.</p>
                <a href="#" class="text-info">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-10 mx-md-auto">
            <div  class="view shadow p-7 mb-2 bg-body" style="background-image: url('static/assets/img/pages/ed10.jpg');  background-repeat: no-repeat; background-size: cover; background-position: center center;"><!-- class="section"-->
              <div class="row justify-content-around">
                <div class="col-lg-5 mb-5 mb-lg-0 text-center">
                  <h1 class="font-weight-light">Data Set</h1>
                  <p class="lead mt-4">about a data set.</p>
                  <a href="" class="btn btn-white mt-4">Get Information</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- technique uesd end -->
 
    <!-- end page header -->
    <!-- Advanced use of the system -->
  
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h3 class="display-3">System Components</h3>
        </div>
      </div>
    </div>

    <footer class="footer has-cards">
      <div class="container container-lg ">
        <div class="row">
          <!-- one system test page -->
          <div class="col-md-6 mb-5 mb-md-0">
            <div class="card card-lift--hover shadow border-0">
              <a href="{{url_for('FUllSystem_oneSystem')}}" title="Overviwe of audio tagging system">
                <div style="background-image: url('static/assets/img/pages/ed10.jpg');  background-repeat: no-repeat; background-size: cover; background-position: center center;" class="view shadow p-6 bg-body">
                  <div class=" mb-2 text-center">
                    <h5 class="font-weight-light">"One System</h5>
                    <p class="lead">get tags and tags details for one system.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- one system test page -->
          <!-- all systems test page -->
          <div class="col-md-6 mb-5 mb-lg-0">
            <div class="card card-lift--hover shadow border-0">
              <a href="{{url_for('FUllSystem_allSystem')}}" title="Full System">
                <div style="background-image: url('static/assets/img/pages/ed10.jpg');  background-repeat: no-repeat; background-size: cover; background-position: center center;" class="view shadow p-6 bg-body">
                  <div class=" mb-2 text-center">
                    <h5 class="font-weight-light">All Systems </h5>
                    <p class="lead">get tags and tags details for all Systems .</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- end all systems test page -->
        </div>
      </div>
      <!-- end tow main pages -->
      <!-- contact section -->
      <div class="container">
        <div class="row row-grid align-items-center my-md">
          <div class="col-lg-6">
            <h3 class="text-primary font-weight-light mb-2">Thank you .....</h3>
          </div>
          <div class="col-lg-6 text-lg-center btn-wrapper">
            <button target="_blank" href="https://twitter.com/creativetim" rel="nofollow" class="btn btn-icon-only btn-twitter rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
                <span class="btn-inner--icon"><i class="fa fa-twitter"></i></span>
            </button>
            <button target="_blank" href="https://www.facebook.com/CreativeTim/" rel="nofollow" class="btn-icon-only rounded-circle btn btn-facebook" data-toggle="tooltip" data-original-title="Like us">
                <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
            </button>
            <button target="_blank" href="https://instagrame.com/creativetim" rel="nofollow" class="btn btn-icon-only btn-instagram rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
                <span class="btn-inner--icon"><i class="fa fa-instagram"></i></span>
            </button>
            <button target="_blank" href="https://github.com/creativetimofficial" rel="nofollow" class="btn btn-icon-only btn-github rounded-circle" data-toggle="tooltip" data-original-title="Star on Github">
                <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
            </button>
          </div>
        </div>
        <hr>
          <div class="row align-items-center justify-content-md-between">
              <div class="col-md-6">
                  <div class="copyright">
                      &copy; 2021 <a href="" target="_blank">Creative Tim</a>.
                  </div>
              </div>
              <div class="col-md-6">
                <ul class="nav nav-footer justify-content-end">
                  <li class="nav-item">
                    <a href="" class="nav-link" target="_blank">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link" target="_blank">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link" target="_blank">License</a>
                  </li>
                </ul>
              </div>
          </div>
      </div>
      <!-- end contact section -->
    </footer>
  </div>
{% endblock wrapper %}
